body::before {
    content: "BORRADOR-NO DIFUNDIR";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 5vw;
    color: rgba(255, 0, 0, 0.308);
    white-space: nowrap;
    pointer-events: none;
    z-index: 9999;
    user-select: none;
    font-weight: bold;
    text-align: center;
}